  @import url('https://fonts.googleapis.com/css2?family=Heebo:wght@800&family=Inter:wght@300;400&family=Lato:ital,wght@1,300&family=Montserrat:ital,wght@0,400;0,900;1,100&family=Poppins:wght@200;300;400;600;800&family=Roboto+Slab:wght@300;400;500;600;800&family=Roboto:wght@100;300;400&family=Work+Sans&display=swap');

  html,
  body{
    margin: 0;
    padding: 0;
    background: #05101c;
    color: white;
    font-family: "Roboto Slab",y serif;
  }


  .image-inverted{
    filter: invert(100%);
  }